@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-nav li a {
  margin: 0 2.3rem;
  color: #424242;
  font-weight: 600;
}

.padding-top-1 {
  padding-top: 1rem;
}

.hero-view,
.content {
  height: 80vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.hero-view h1 {
  font-size: 2.5rem;
}

.hero-view p {
  font-size: 1.21rem;
}

.content ul {
  list-style: none;
  padding-left: 0;
  width: 300px;
  background: #fafafa;
  padding: 10px 20px;
  border-radius: 5px;
}

.content ul li {
  margin: 0.6rem 0;
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin: 30px 0;
}

.pagination .page-links .wrapper,
.pagination .page-links span {
  margin: 0px 10px;
}

.pagination .page-links .wrapper {
  width: 30px;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  border-radius: 50%;
}

.pagination .page-links {
  display: flex;
  align-items: center;
}

.pagination .page-links a {
  color: #fff;
  font-weight: 600;
  line-height: 0;
}

input,
textarea {
  outline: none;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #dadada;
}

button,
input[type="submit"],
input[type="button"] {
  outline: none;
  border: none;
  background-color: #585858;
  padding: 10px 25px;
  margin: 30px 0;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.places .place {
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  min-height: 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.places .place p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #656565;
}

.places .place .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.places .place .action i,
.places .place .action a {
  font-size: 0.8rem;
}

.places .place .action i {
  color: #656565;
}

.places .place .action a {
  background-color: #0f9d58;
  padding: 6px 12px;
  color: #fff;
  font-weight: 600;
}

.places .place .action a:hover {
  text-decoration: none;
}

.place-detail {
  padding: 20px 0;
}

.place-detail .header {
  margin-top: 2rem;
}

.place-detail .header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.place-detail .header p {
  color: #585858;
  font-size: 0.9rem;
}

.place-detail .address {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.place-detail .address h2,
.place-detail .types h2 {
  font-size: 1.2rem;
}
.place-detail .address p {
  font-size: 0.9rem;
  color: #585858;
}

.place-detail .types {
  margin-top: 2rem;
}

.place-detail .types-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}

.place-detail .types-wrapper .type {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 20px 22px;
  background-color: #4285f4;
  border-radius: 20px;
}

.place-detail .types-wrapper .type p {
  line-height: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
}

.place-detail .map {
  padding: 50px;
}

.place-detail .map #main {
  border-radius: 5px;
}

.place-detail .actions {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.place-detail .actions a {
  padding: 10px 40px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.place-detail .actions a:hover {
  text-decoration: none;
}

.place-detail .actions a:nth-child(1) {
  background-color: #0f9d58;
}

.place-detail .actions a:nth-child(2) {
  background-color: #db4437;
}

.add-place .input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
